.autform , .gridforme{
    width: 91%;
    height: 80%;
    text-align: center;
    margin: 1em;
}

.autform{
    align-content:center;
}

h1 {
    font-size: 9em;
    color: white;
    margin-bottom: 20px;
    font-family: Helvetica;
}

h2{
    width: 100%;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 5px 0px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    font-family: Helvetica;
    font-size: 5em
}

input:focus {
    outline: none;
    border-color: #4CAF50;
}

button , a {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 2em;
    margin: 1em;
    font-family: Helvetica;
    width: fit-content;
    height: fit-content;
}

button:hover , a:hover  {
    background: #45a049;
}

.separateur{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("/src/assets/img//gradient_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


