        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("/document/9696.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Arial, sans-serif;
        }

        .container {
            width: 80%;
            height: 80%;
            border-radius: 16px;
            overflow: hidden;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
            background: white;
            filter: drop-shadow(0 0 5.75rem crimson)
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }

        .error {
            display: flex;
            justify-content: center;
            align-items: center;

            background-image: url("/document/4028.jpg");
            z-index: 3;
            width: 80%;
            position: absolute;
            border-radius: 8%;
            inset-inline-start: 10%;
            inset-block-start: 93%;

        }

        .error>p {
            background-color: rgb(255, 255, 255);
            z-index: 3;
            width: 100%;
            margin: 1em;
            text-align: center;
        }


        .error>#errorimg1 {
            width: 7%;
            position: absolute;
            inset-inline-start: -3%;
            inset-block-start: -83%;
            z-index: 7;
        }

        .error>#errorimg2 {
            width: 7%;
            position: absolute;
            inset-inline-start: 95%;
            inset-block-start: -83%;
            z-index: 7;
        }