#drop-zone {
    width: 90%;
    height: 50%;
    border: 2px dashed #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    transition: 0.2s;
}

#drop-zone >p{
    color: white;
    font-size: 2em;
}

#drop-zone.hover {
    border-color: #2196f3;
    background-color: #e3f2fd;
}